.navbar {
  background-color: #ff5733;
  padding: 15px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.hero {
  background: url('images/coding.jpeg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about {
  background-color: #403f3f;
  color: #fff;
  padding: 60px 0;
}

#about h2 {
  font-size: 28px;
}

#about p {
  font-size: 16px;
  line-height: 1.5;
}

/* CSS to resize certificate images */
.certificate-item img {
  max-width: 150px;
  /* Adjust the maximum width as needed */
  height: auto;
  /* Maintain the aspect ratio */
}

/* CSS to style the certificate name caption */
.certificate-caption {
  text-align: left;
  /* Center-align the text */
  margin-top: 10px;
  /* Add space between the image and text */
  font-weight: bold;
  /* Make the text bold */
}

/* CSS to style the certificate item */
.certificate-item {
  background-color: #d09a25bb;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px;
}

/* CSS to style the download button with an orange color */
#download-button {
  background-color: #FFA500;
  color: #fff;
  border: none;
}

#download-button:hover {
  background-color: #352717;
  color: #fff;
}

/* Style the LinkedIn button */
.linkedin-button {
  background-color: #0077B5;
  /* LinkedIn's brand color */
  color: #fff;
  /* Text color */
  text-decoration: none;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
}


.linkedin-button i {
  font-size: 24px;
  margin-right: 10px;
}

/* Add margin or padding between the buttons */
.social-buttons {
  margin-right: 10px;
  /* Adjust the margin as needed to create space between buttons */
}

/* Custom CSS for Professional Certificates Section */

/* Custom CSS for Professional Certificates Section */

.certificates-container {
  background-color: #ffff;
  /* Choose your desired background color */
  padding: 0;
  margin-top: -48px;
  /* Negative margin to overlap with the previous section */
}

.certificates-container h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

/*css for styling the project section images*/
.custom-image {
  width: 50px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain the aspect ratio */
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

#portfolio {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  color: #1a1414;
  padding: 40px 0;
  text-align: left;
}

/* Style for the project cards */
.card {
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent black background color for project cards */
  color: #fff;
  /* White text color for project cards */
  border: none;
  /* Remove card borders */
  margin-bottom: 20px;
  /* Add space between cards */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow to the cards */
}

.project-container {
  margin-top: -60px;
}

.project-container h2 {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
}

/* Add this CSS to your stylesheet */
.profile-picture {
  width: 100px;
  /* Adjust the width as needed */
  height: 100px;
  /* Adjust the height as needed */
  border-radius: 50%;
  /* To make it round */
}

/* Style for the specific card in the portfolio section */
.custom-portfolio-card {
  background-color: #9791a1;
  /* Background color */
  color: white;
  /* Text color */
}

.custom-portfolio-card .card-title {
  color: white;
  /* Title color */
}

.custom-portfolio-card .card-text {
  color: white;
  /* Description color */
}


/* Improve Desktop Styles */

/* Increase the padding for the hero section on desktop */
@media (min-width: 768px) {
  .hero {
    padding: 150px 0;
  }

  /* Adjust the width of the hero title and lead text */
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p.lead {
    font-size: 1.5rem;
  }

  /* Increase padding and font size for the about section */
  #about {
    padding: 100px 0;
  }

  #about h2 {
    font-size: 36px;
  }

  #about p {
    font-size: 18px;
  }
}

/* These styles are for mobile and small screens */

/* Bootstrap Navbar: Reduce the top padding on mobile */
@media (max-width: 767px) {
  .navbar {
    padding: 10px 0;
  }
}

/* Reduce padding for the hero section on mobile */
@media (max-width: 767px) {
  .hero {
    padding: 80px 0;
  }
}

/* Adjust font size and padding for the about section on mobile */
@media (max-width: 767px) {
  #about h2 {
    font-size: 28px;
  }

  #about p {
    font-size: 16px;
  }
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #f1ece9;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
/*contact section*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}